<ion-header>
  <ion-toolbar>
    <ion-title>consultas-rest</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="consultaGet()" expand="block" fill="clear" shape="round">
    GET USER
  </ion-button>
  <ion-button (click)="consultaGetPage()" expand="block" fill="clear" shape="round">
    GET PAGE
  </ion-button>
  <ion-button (click)="consultaPost()" expand="block" fill="clear" shape="round">
    POST
  </ion-button>
  <ion-button (click)="consultaPut()" expand="block" fill="clear" shape="round">
    PUT
  </ion-button>
</ion-content>
